@font-face {
  font-family: robotolight;
  src: url('../assets/fonts/Roboto-Light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: robotoregular;
  src: url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: robotomedium;
  src: url('../assets/fonts/Roboto-Medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, body > section {
  margin: 0 auto;
  padding: 1.5rem 0 3rem;
}

body {
  font-family: 'robotoregular',Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #212529;
  line-height: 1.5;
  max-width: 1140px;
}

body > section {
    max-width: 83.33333%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.875rem 0 1rem;
}

h1, h2, h3, h4 {
    font-family: 'robotolight',Arial,Helvetica Neue,Helvetica,sans-serif;
    line-height: 1.5;
    font-weight: 100;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
    font-size: 1.625rem;
}

h4 {
  font-size: 1.5rem;
}

h5, h6 {
  font-family: 'robotomedium',Arial,Helvetica Neue,Helvetica,sans-serif;
  line-height: 1.6;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

blockquote {
  margin: 0 1rem 1rem 1rem;
  padding: 0;
}

p, ul, ol, li, table {
  margin-top: 0;
  margin-bottom: 1rem;
}

p, li {
  font-size: 1.125rem;
  line-height: 1.625;
}

pre, span.math {
  display: block;
  overflow-x: auto;
}

pre {
  border: 1px solid #e6e7e8;
  padding: 0.625rem;
  white-space: pre-line;
  font-size: 0.875rem;
}

span.math {
  padding: 0.625rem 0 0;
}

a, a:visited {
  color: #0097c1;
  text-decoration: none;
}

a:hover {
  color: #00556c;
  text-decoration: underline;
}

a.footnote_reference::before {
  content: "[";
}
a.footnote_reference::after {
  content: "]";
}

strong, b {
  font-family: 'robotomedium',Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: normal;
}

hr {
  border-top: 1px solid #e6e7e8;
  margin: 1.875rem 0;
}

table, th, td {
  border: 1px solid #212529;
}

table {
    border-collapse: collapse;
    display: block;
    overflow-x: scroll;
}

#index-of-zips table tr:hover {
  background-color: #eff1f2;
}

th, td {
  padding: 0.625rem;
  vertical-align: top;
}

td:first-child {
  text-align: center;
}

#index-of-zips table th:first-child + th, #index-of-zips table td:first-child + td {
  padding: 0;
}

#index-of-zips table a {
  display: block;
  padding: 0.625rem;
}

#references table, #references th, #references td  {
  border: 0 none transparent;
}

#references th::before {
  content: "[";
}
#references th::after {
  content: "]";
}

@media (min-width: 576px) {
  body > section {
      max-width: initial;
      width: 510px;
  }
}

@media (min-width: 768px) {
  body > section {
      width: 690px;
  }
}

@media (min-width: 992px) {
  body > section {
      width: 770px;
  }
}

@media (min-width: 1200px) {
  body > section {
      max-width: initial;
      width: 920px;
  }
}

@media (min-width: 1390px) {
  body > section {
      max-width: initial;
      width: 1200px;
  }
}
