body { margin-top: 2ex !important; margin-left: 15% !important; margin-right: 15% !important; margin-bottom: 2ex !important}
sub { font-size: smaller !important; vertical-align: sub !important; }
sup { font-size: smaller !important; vertical-align: super !important; }
li { margin-left: 2em !important; }
blockquote { font-size: 1em !important; }
a.footnote_reference::before { content: "["; }
a.footnote_reference::after { content: "]"; }
dd { margin-left: 2em !important; }

th, td { border: 1px solid black !important; }
td.left { text-align: left !important; }
table { display: block !important; padding-left: 2em !important; padding-bottom: 1em !important; }
th { padding-left: 0.8em !important; padding-right: 0.8em !important; background-color: #d8d8d8 !important; }
td { padding-left: 0.8em !important; padding-right: 0.8em !important; }
tr:hover { background-color: #f5f5f5; }
#references table { padding-left: 0 !important; padding-bottom: 0 !important; }
#references th { width: 2em !important; border: 0 !important; background-color: transparent !important; }
#references th::before { content: "["; }
#references th::after { content: "]"; }
#references td { text-align: left !important; padding: 0 !important; border: 0 !important; }
