code { white-space: pre-wrap; }
span.smallcaps { font-variant: small-caps; }
span.underline { text-decoration: underline; }
body { margin-top: 2ex !important; margin-left: 15% !important; margin-right: 15% !important; }
sub { font-size: smaller !important; vertical-align: sub !important; }
sup { font-size: smaller !important; vertical-align: super !important; }
li { margin-left: 2em !important; }
blockquote { font-size: 1em !important; }
