# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_size = 4

[*.json]
indent_size = 2

[*.css]
indent_size = 2
