# LaTeX intermediate files
*.aux
*.log
*.bbl
*.blg
*.brf
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.run.xml
*.dvi

# Temporary files
.emacs.desktop
.~lock.*
*.swp
*.save
*.save.*

.Makefile.uptodate
.zipfilelist.*

protocol/aux/
protocol/html/
protocol/saplinghtml/

protocol/heartwood.pdf
protocol/protocol.ver
*~
