###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Ensure shell scripts use LF line endings (linux only accepts LF)
*.sh eol=lf
*.ps1 eol=lf
