name: Render pdfs

on: workflow_dispatch

jobs:

  render:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3.6.0

      - name: Compile Zcash Protocol Specification
        uses: ./.github/actions/render-protocol-pdf

      - uses: EndBug/add-and-commit@v9.1.3
        with:
          add: '**/*.pdf'
          default_author: github_actions
