name: Check Renderability

on:
  pull_request:

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 3

      - name: Verify nonexistence of `rendered`
        shell: bash
        run: |
          if [ -e rendered ]; then exit 1; fi

      - name: Set git config
        run: git config --global --add safe.directory /github/workspace

      - name: Compile ZIPs
        uses: ./.github/actions/render

  render-protocol:
    needs: render
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 100

      - name: Verify nonexistence of `rendered` and `base_ref`
        shell: bash
        run: |
          if [ -e rendered ]; then exit 1; fi
          if [ -e base_ref ]; then exit 1; fi

      - name: Set git config
        run: git config --global --add safe.directory /github/workspace

      - name: Set base ref
        run: |
          git show --format=%H --no-notes --no-patch "HEAD~1" -- |tee base_ref
          if ! ( grep -E '^[0-9a-f]{40}$' base_ref ); then exit 1; fi

      - name: Compile Protocol Specification
        uses: ./.github/actions/render-protocol
