name: Build tex and rst

on: 
  workflow_dispatch:
  push:
    branches:
    - main

jobs:

  render:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7
        # with: 
          # token: ${{ secrets.CI_TOKEN }}

      - name: Compile ZIPs and Zcash Protocol Specification
        uses: ./.github/actions/render

      - uses: EndBug/add-and-commit@v9.1.4
        with:
          add: 'protocol/*.pdf *.html'
          default_author: github_actions
