name: Render pdfs

on:
  pull_request:
    branches: [main]

jobs:

  render:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Compile Zcash Protocol Specification
        uses: ./.github/actions/render-protocol-pdf

      - uses: EndBug/add-and-commit@v7.5.0
        with:
          add: '**/*.pdf'
          default_author: github_actions
